
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
env/
*.egg-info/
dist/
build/

.venv/
venv/
ENV/
env.bak/

*.log

.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

*.tar
*.bak
*.swp
*.swo

*.tgz
charts/*.tgz
values.override.yaml

*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
argocd-repo-creds.yaml
